* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blur-div {
    height: 100vh;
    width: 100%;
    background: url("./Assets/Images/bg.jpg") no-repeat;
	background-position: center center;
	background-size: cover;
    filter: blur(5px);
    position: absolute;
}

.app-window {
    position: relative;
    z-index: 2;
    padding: 10px;
}

.search-bar {
    display: flex;
    padding: 8px 18px;
    justify-content: space-between;
}

.search-bar input {
    width: 90%;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: 18px;
    padding: 8px 15px;
    appearance: none;
    color: white;
}

::placeholder {
    color: white;
}

.search-bar img {
    width: 28px;
    height: auto;
    margin: 0px 16px;
    cursor: pointer;
}

.search-bar img:hover {
    width: 32px;
}

.display-window {
    display: flex;
    padding: 10px 85px;
    padding-bottom: 20px;
}

.display-window div:nth-child(1) {
    flex: auto;
}

.display-window div:nth-child(1) p:nth-of-type(1) {
    font-size: 60px;
    padding: 10px 22px;
    color: white;
}

.display-window div:nth-child(1) p:nth-of-type(2) {
    font-size: 25px;
    color: white;
    padding: 0px 22px;
}

.display-window div:nth-child(1) img {
    width: 160px;
    height: auto;
}
.display-window div:nth-child(1) p:nth-of-type(3) {
    font-size: 36px;
    color: white;
    padding: 0px 22px;
}

.display-window div:nth-child(2) {
    flex: auto;
}

.display-window div:nth-child(2) > .current-temp-text  {
    font-size: 136px;
    text-align: center;
    color: white;
    padding-bottom: 23px;
}

.display-window div:nth-child(2) > .minmax-temp-div {
    display: flex;
    justify-content: center;
}

.minmax-temp-div p {
    font-size: 68px;
    color: white;
}

.max-temp::after {
    content: '/';
    padding: 0px 15px;
}

.top-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    border-bottom: 2px solid black;
}

.top-bar p {
    font-size: 23px;
}

.additional-info-body-sect {
    display: flex;
    overflow-x: auto;
    flex: 0 0 auto;
}

.hourly-weather-card {
    padding: 8px 0px;
    padding-top: 18px;
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
}

.hourly-weather-card p {
    font-size: 20px;
}

.hourly-weather-card img {
    width: 80px;
    height: auto;
}

.hourly-weather-card .hourly-temp-text {
    font-size: 30px;
}
